{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Henry</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'Contacts/bs/css/flatly.min.css' %}" />
    <link rel="stylesheet" href="{% static 'Contacts/Style.css' %}" /> 
  </head>
  <body> 
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/About">About</a></li>
        <li><a href="/The_Portfolio">Portfolio</a></li>
        <li><a class="active" href="/Contacts">Contact</a></li>
      </ul>
      <label class="logo">PORTFOLIO</label>

    </nav>
    <div class="container">
      <div class="contact-section">
        <h2 class="ct-section-head">Send Feedback</h2>              
      <div class="row contact-fields">
        <div class="col-md-8 left-form">
          <form method="post" action="{% url 'Contacts' %}">
            {% csrf_token %}
            <div class="form-group">
              <label class="sr-only" for="fname">First Name *</label>
              <input class="required form-control" id="name" name="name" placeholder="First Name&nbsp;*" type="text" required="required">
            </div>
            <div class="form-group">
              <label class="sr-only" for="lname">Last Name *</label>
              <input class="required form-control" id="message-lname" name="message-lname" placeholder="Last Name&nbsp;*" type="text" required="required">
            </div>
            <div class="form-group">
              <label class="sr-only" for="contactEmail">Email *</label>
              <input type="email" class="required form-control h5-email" id="from-email" name="email" placeholder="Email&nbsp;*" type="text" required="required">
            </div>
            <div class="form-group">
              <label class="sr-only" for="contactPhone">Subject *</label>
              <input class="required form-control h5-phone" id="message-subject" name="subject" placeholder="Subject&nbsp;*" type="text" required="required">
            </div>
            <div class="form-group">
              <label class="sr-only" for="comment">Type your message here</label>
              <textarea class="required form-control" id="message" name="message" placeholder="Type your message here&nbsp;*" rows="6" required="required"></textarea>
            </div>
            <button class="btn btn-accent" type="submit">Submit</button>  
          </form>
        </div>
        <div class="col-md-4 contact-info">
            <div class="icon">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="phone">
              <h2>Call</h2>
              <p>0790238118</p> 
            </div>
            <div class="icon">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
          <div class="email">
            <h2>Email</h2>
            <a href="mailto:henryochieng8@gmail.com">henryochieng8@gmail.com</a>
          </div>
          <div class="icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="location">
            <h2>Address</h2>
            <p>Nairobi, Kenya </br><br>
               
            </p>
          </div>
        </div>
      </div>
    </div>

    <footer class="mt-auto text-black-50">
      <div class="footicon">
        <a href="https://www.linkedin.com/in/henry-ndaga-3184881b1/" target="_blank" rel="noopener noreferrer" class="fa fa-linkedin"></a>
        <a href="https://github.com/HenryOchieng/" target="_blank" rel="noopener noreferrer" class="fa fa-github"></a>
        <a href="https://stackoverflow.com/users/13932088/henry" target="_blank" rel="noopener noreferrer" class="fa fa-stack-overflow"></a>
        <a href="https://api.whatsapp.com/send?phone=254790238118" target="_blank" rel="noopener noreferrer" class="fa fa-whatsapp"></a>
        <a href="https://twitter.com/Henry_Ndaga" target="_blank" rel="noopener noreferrer" class="fa fa-twitter"></a>
        <a href="#" target="_blank" rel="noopener noreferrer" class="fa fa-facebook"></a>
      </div>
      <div class="copyright">
          <center>Copyright &copy; Henry Ndaga 2021.</center>
      </div>
    </footer>
  </body>
</html>
