
body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/pexels-lumn-311039.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: fixed;  
    background-color: #03051e;
}
nav{
  background: gray;
  opacity: .6;
  height: 80px;
  width: 100%;
}
label.logo{
  color:  #36454F;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-family: Bodoni Moda;
  font-weight: bolder;
  padding-left: 30px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color:  #36454F;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: none;
  color: aqua;
  transition: .5s;
}
.checkbtn{
  font-size: 25px;
  color:#36454F;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.contact-section .form-control{
  border: 1px solid  #2fbfbc;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
}
.contact-fields {
  padding:30px 0px 0px;
}
.phone {
  padding-top: 1px;
}
.phone,
.email,
.location {
  margin-bottom:1px;
}
.phone h2,
.email h2,
.location{
  margin-top:0px;
}
.phone a,
.email a,
.location a {
  color:grey;
  font-size:18px;
}
.email .a:hover{
  color: aqua;
}
.contact-h2 {
  color: #fd4f00;
  padding-top:10px;
}
.contact-fields .form-group {
  margin-bottom: 35px;
}
.contact-info {
  margin-top: 2px;
  padding: 10px;
}
.contact-info .icon .fa{
  font-size: 20px;
  padding: 25px;
  padding-left: 0px;
}
.contact-fields .form-group input,
.contact-fields .form-group textarea {
  font-size: 16px;
  color: black;
  background-color:whitesmoke;
  opacity: .4;
}
.btn {
    font-size: 15px;
    padding: 22px 46px 18px;
    line-height: 1;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    position: relative;
    letter-spacing: 0.3px;
}
.btn.btn-accent {
    background: #2fbfbc;
    opacity: .7;
    color: whitesmoke;
}
.btn.btn-accent:hover {
    background: aqua;
}
.ct-newsletter-section .container {
    width: 100%;
    max-width: 1360px;
}
h2 {
    font-family: Bodoni Moda;
    font-weight: bolder;
    color: #101f1d;
    opacity: .6;
    font-size: 30px;
    letter-spacing: 1.25px;
}
.ct-section-head {
    font-family: Bodoni Moda;
    font-weight: bolder;
    color: #101f1d;
    opacity: .6;
    font-size: 30px;
    padding-top: 45px;
    letter-spacing: 1.25px;
    margin-bottom: 0px;
}
.ct-section-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #101f1d;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 45px;
    letter-spacing: 1.25px;
    margin-bottom: 5px;
}
.footicon{
  text-align: center;
  padding-left: 5px;/*
  padding-top: 550px;*/
  padding-bottom: 10px;
}
.fa{
  margin-right: -50px;
  padding-bottom: 1px;
  padding-top: 100px;
  padding-right: 100px;
  font-size: 20px;
  width: 50px;
  text-align: right;
  color: #36454F;
}
.copyright{
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 0px;
    color:#36454F;
}
@media (min-width:280px) and (max-width: 952px){
  nav{
    width: 100%;
  }
  label.logo{
    font-size: 25px;
    padding-left: 15px;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:none;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 10px;
  }
  nav ul li a{
    font-size: 15px;
    appearance: none;
  }
  .checkbtn{
    display:block;
  }
  a:hover,a.active{
    background: none;
    color: aqua;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .contact-info .icon{
    padding-left: 10px;
  }
  .form-group{
    width:fit-content;
  }
  .footicon .fa:hover{
    color:aqua;
  }
}
 


