{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Henry</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'The_Portfolio/bs/css/flatly.min.css' %}" />
    <link rel="stylesheet" href="{% static 'The_Portfolio/Portfolio.css' %}" /> 

  </head>
  <body> 
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">PORTFOLIO</label>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/About">About</a></li>
          <li><a class="active" href="/The_Portfolio">Portfolio</a></li>
          <li><a href="/Contacts">Contact</a></li>
        </ul>
      </nav>
      <div class="container">
        <div class="card1">
          <div class="card">
            <div class="card-title">
              <h3>Professional Summary</h3>
            </div>
            <div class="card-content">
              <p>
                Highly skilled and dynamic network systems analyst and software developer,
                bringing forth the ability to effectively manage and oversee optimal networks services for organizations,
                Adept in setting up administrator server accounts, and experienced in managing the functionality of systems.
                Ability to design, develop and deploy web as well as desktop applications effectively.
                Resourceful and commited to continually advancing my knowledge of relevant technologies.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <h3>Competencies</h3>
            </div>
            <div class="card-content">
              <h4>Computer Networking</h4>
              <ul>
                <li>LAN, WAN and WLAN setup and management.</li>
                <li>Windows server management.</li>
                <li>Cisco, Mikrotik, Cambium and Ubiquiti network devices management.</li>
                <li>Routing and switching protocols expertise.</li>
                <li>IP Address structuring.</li>
              </ul>
              <h4>Computer Programming</h4>
              <ul>
                <li><b>Languages:</b> Python, C#, Javascript, HTML, CSS.</li>
                <li><b>Frameworks:</b> Django, .NET, Bootstrap.</li>
                <li><b>Databases:</b> Microsoft SQL, Postgresql.</li>
                <li><b>Version Control:</b> Git.</li>
                <li><b>Deployment and Hosting:</b> Github, Heroku.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card2">
          <div class="card">
            <div class="card-title">
              <h3>Services</h3>
            </div>
            <div class="card-content">
              <ul>
                <li>Designing and implementing new network solutions.</li>
                <li>Improving the efficiency of current networks.</li>
                <li>Installing, configuring and supporting network equipment including routers, switches, proxy servers, access points and radios.</li>
                <li>Installing and configuring Windows and Linux operating systems, Microsoft SQL server, Windows servers.</li>
                <li>Setting up and managing Active Directories and Group Policies.</li>
                <li>Installing and configuring Enterprise Resource Planning systems such as the Microsoft Dynamics Navision.</li>
                <li>Designing and developing responsive web applications</li>
                <li>Designing and developing desktop applications.</li>
                <li>Software deployment and hosting.</li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <h3>Education</h3>
            </div>
            <div class="card-content">
              <ul>
                <li><b>2018-2020:</b> Diploma in Business Information Technology: Zetech University</li>
                <li><b>2010-2013:</b> Kenya Certificate of Secondary Education: Ushirika Secondary School</li>
                <li><b>2002-2009:</b> Kenya Certificate of Primary Education: Ngunyumu Primary Education</li>
              </ul>
              <h4>Certification Training</h4>
              <ul>
                <li>Cisco Certified Network Associate: Cisco Networking Academy (Zetech University)</li>
                <li>Python-Django Fullstack Web Development Training (Udemy Online School)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card3">
          <div class="card">
            <div class="card-title">
              <h3>Projects</h3>
            </div>
            <div class="card-content">
              <h4><a href="https://github.com/HenryOchieng/HotelManagementSystem" target="_blank" rel="noopener noreferrer"><b>Hotel Management System</b></a></h4>
              <p>
                This is a desktop application developed using C# language, .NET framework 
                and Microsoft SQL Server database. After a successful login, the user
                can add clients to the hotel, book rooms for the clients, make reservations
                for them as well as assign them room service.
              </p>
              <h4><a href="https://py-twitter.herokuapp.com/" target="_blank" rel="noopener noreferrer"><b>Py-Tweet</b></a></h4>
              <p>
                Py-Tweet is a website application with the same functionalities as Twitter,
                Developed using python and django-framework for backend and HTML, CSS and 
                Bootstrap for frontend, it enables to sign up by creating account after which
                the user can then login, tweet, follow and unfollow other users, update and
                delete a tweet, comment on a tweet as well as search for other users. It is 
                hosted on heroku platform though its still a work in progress.
              </p>
              <h4><a href="https://henry-ndaga.herokuapp.com/" target="_blank" rel="noopener noreferrer"><b>Portfolio Website</b></a></h4>
              <p>
                This is my personal portfolio website developed using python and django
                framework for backend and HTML, CSS and Bootstrap framework for frontend.
                It's hosted on Heroku platform.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <h3>Interests</h3>
            </div>
            <div class="card-content">
              <ul>
                <li>Network Programmability and Automation</li>
                <li>Cloud Infrasctructure</li>
                <li>Machine Learning</li>
                <li>Data Science (Predictive Analytics)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <footer class="mt-auto text-black-50">
        <div class="footicon">
          <a href="https://www.linkedin.com/in/henry-ndaga-3184881b1/" target="_blank" rel="noopener noreferrer" class="fa fa-linkedin"></a>
          <a href="https://github.com/HenryOchieng/" target="_blank" rel="noopener noreferrer" class="fa fa-github"></a>
          <a href="https://stackoverflow.com/users/13932088/henry" target="_blank" rel="noopener noreferrer" class="fa fa-stack-overflow"></a>
          <a href="https://api.whatsapp.com/send?phone=254790238118" target="_blank" rel="noopener noreferrer" class="fa fa-whatsapp"></a>
          <a href="https://twitter.com/Henry_Ndaga" target="_blank" rel="noopener noreferrer" class="fa fa-twitter"></a>
          <a href="https://web.facebook.com/" target="_blank" rel="noopener noreferrer" class="fa fa-facebook"></a>
        </div>
        <div class="copyright">
          Copyright &copy; Henry Ndaga 2021.
        </div>
      </footer>
    </div>
  </body>
</html>
