
body{
    margin: 0;
    height: 100%;
    width: 100%;/*
    background-color:gray;*/
    background-image: url("../images/pexels-cátia-matos-1072179.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: relative;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav{
  background: #557174;
  opacity: .6;
  height: 80px;
  width: 100%;
}

label.logo{
  color:  #36454F;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-family: Bodoni Moda;
  font-weight: bolder;
  padding-left: 30px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color:  #36454F;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: none;
  color: aqua;
  transition: .5s;
}
.checkbtn{
  font-size: 25px;
  color:#36454F;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.container{
  padding-top: 40px;
  display:inline-table;
  width: 100%;
  gap: 100rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: flex;
}
.card1{
  display: flex;
  flex-direction: row;
  gap: 30rem;
  padding-left: 90px;
}
.card2{
  display: flex;
  flex-direction: row;
  gap: 30rem;
  padding-left: 90px;
  padding-top: 80px;
}
.card3{
  display: flex;
  flex-direction: row;
  gap: 30rem;
  padding-left: 90px;
  padding-top: 80px;
}
.card{
  font-family: Bodoni Moda;
  width: 400px;
  position: relative;
  min-height: 2fr;
  background-color:#36454F;
  opacity: .7;
  border-radius: 0.4rem; 
  transition: 0.2s;
}

.card:hover{
  transform: translateY(-5);
  box-shadow: 0 4rem 8rem #36454F;
}
 .card-title h3{
   color: #d9dab0;
   font-family: Bodoni Moda;
   font-size: 30px;
   text-align: center;
   font-weight: bold;
}
.card-content{
  color: wheat;
  opacity:.6;
}
.card-content p{
  padding-left: 5px;

}
.card-content h4{
  font-family: Bodoni Moda;
  font-weight: bold;
  padding-left: 5px;
}
.card-content ul li{
  padding-left: 5px;
}
.copyright{
  text-align: center;
  font-size: 15px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 0px;
  color:#36454F;
}
.footicon{
  text-align: center;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fa{
  margin-right: -50px;
  padding-bottom: 1px;
  padding-top: 200px;
  padding-right: 100px;
  font-size: 20px;
  width: 50px;
  text-align: right;
  color: #36454F;
}
@media (min-width:280px) and (max-width: 952px){
  nav{
    width: 100%;
    z-index: 999;
  }
  label.logo{
    font-size: 25px;
    padding-left: 30px;
  }
  .checkbtn{
    display: block;
  }
  nav ul{
    position: fixed;
    width: fit-content;
    height: 100vh;
    background:none;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 10px;
  }
  
  nav ul li a{
    font-size: 14px;
    padding-left: 150px;
    text-align: center;
    color: greenyellow;
  }
  a:hover,a.active{
    background: none;
    color: aqua;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .container{
    grid-template-columns: 1fr;
    gap: 1px;
    padding-top: 10px;
  }
  .card{
    grid-template-columns: auto;
    width: 100%;
    margin: 10px 10px;
    margin-left: 0;
    background-color: #36454F;
  }
  .card1{
    display: inline;
  }
  .card2{
    display: inline;
  }
  .card3{
    display: inline;
  }
   .footicon .fa:hover{
    color:aqua;
  }

}




