{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.css' %}">
		<link type="text/css" href="https://fonts.googleapis.com/css?family=Lobster|Montserrat|Raleway" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material_Icons">
        <link rel="stylesheet" href="https://cdjns.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
        <title>Henry</title>
    </head>
	<body>
		<div class='image-background'>
			<div class='container h-100'>
			  <div class='row h-100 align-items-center'>
				<div class='col-12 text-center' style="color: antiquewhite;">
					<div class="start" style="font-style: italic; font-family:'Courier New', Courier, monospace; font-size:medium">Hi, my name is Henry Ndaga, am a</div>
					<h1>Full-Stack Web Developer</h1>
					<div class="start" style="font-style: italic; font-family:'Courier New', Courier, monospace; font-size:medium">creating modern and responsive Web Applications</div>
				</div>
			  </div>
			  <a href="#about">
				<div class="scroll-down">
					<span>
						<i class="fa fa-angle-down fa-2x"></i>
					</span>
				</div>
			  </a>
			</div>
		</div>

		<header class="header">
			<nav id="navbar_top" class="navbar  navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">Henry Ndaga</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
				    <ul class="nav navbar-nav ml-auto">
					    <li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#skills">Skills</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#portfolio">Projects</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#contact">Contact</a>
						</li>
				    </ul>
				</div>
			</nav>
		</header>
		<!-- Navigation end -->
		<section id="about" class="pfblock pfblock-gray">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="pfblock-header wow fadeInUp">
							<h2 class="pfblock-title">ABOUT ME</h2>
							<div class="pfblock-line"></div>
							<div class="pfblock-subtitle">
								<p>I enjoy building everything from small business sites and landing pages to portfolio themes and rich interactive web apps. I love creating visually stunning and responsive websites. I always try to combine aesthetic with functional aspects, looking for the right balance to communicate without annoying.</p>
								<p>Programming is a true passion of mine and that passion continually grows with every meaningful tech-related conversation I have, with every moment of clarity as I finally figure out a nagging issue on a project, and with every new concept, language, or framework I delve into.</p>
								<p>I enjoy the collaborative nature of working on a team building a product. The feedback, discussion, and review in this environment brings out the best in each individual member, and is a crucial component in my own personal development. I'm ready to jump onto a supportive team and begin contributing.</p>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="pfblock-header wow fadeInUp">
							<img id="myphoto" src="{% static 'base/images/henry.jpg' %}" alt="Henry Ochieng" style="border-radius: 100%;filter:grayscale(30%);">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="skills" class="pfblock pfblock-skills" >
			<div class="skills col-xs-12">
				<h2 class="pfblock-title">SKILLS</h2>
				<div class="pfblock-line"></div>
				<div class="row">
					<div  class="devicon-html5-plain  col-xs-15"><span>HTML</span></div>
					<div  class="devicon-css3-plain   col-xs-15"><span>CSS</span></div>
					<div  class="devicon-bootstrap-plain col-xs-15"><span>BOOTSTRAP</span></div>
					<div  class="devicon-jquery-plain col-xs-15"><span>JQUERY</span></div>
					<div  class="devicon-javascript-plain  col-xs-15"><span>JAVASCRIPT</span></div>
				</div>
				<div class="row">
					<div  class="devicon-python-plain  col-xs-15"><span>PYTHON</span></div>
					<div  class="devicon-django-plain  col-xs-15"><span>DJANGO</span></div>
					<div  class="devicon-postgresql-plain  col-xs-15"><span>POSTGRESQL</span></div>
					<div  class="devicon-heroku-original  col-xs-15"><span>HEROKU</span></div>
					<div  class="devicon-git-plain  col-xs-15"><span>GIT</span></div>
				</div>
			</div>
		</section>
		<!-- Portfolio start -->
		<section id="portfolio" class="pfblock">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<div class="pfblock-header wow fadeInUp">
							<h2 class="pfblock-title" style="align-self: center;">Projects</h2>
							<div class="pfblock-line"></div>
							<div class="pfblock-subtitle"></div>
						</div>
					</div>
				</div><!-- .row -->
				<div class="container1">
					<div class="card1">
						<div class="card" >
						  <div class="card-content">
							  <div class="grid">
								  <figure class="effect-lily">
									<img src="{% static 'base/images/WeConnect.PNG' %}" alt="We Connect">
									<p>Django-based twitter clone web application. Users can sign up, tweet, update and delete a tweet, follow and unfollow another user as well update their profile.</p>
									<a class="btn btn-primary" href="https://github.com/HenryOchieng/WeConnect" target="_blank" rel="noopener noreferrer" role="button">Source Code</a>
									<a class="btn btn-primary" href="https://py-twitter.herokuapp.com/login/?next=/" target="_blank" rel="noopener noreferrer" role="button" style="margin-left: 40px;">Live App</a>
								  </figure>
							  </div>
						  </div>
						</div>
						<div class="card">
						  <div class="card-content">
							<div class="grid">
								<figure class="effect-lily">
								  <img src="{% static 'base/images/TopTrends.PNG' %}" alt="We Connect">
								  <p>This is a django-based web application that leverages the News API to generate different categories of world news from multiple sources.</p>
								  <a class="btn btn-primary" href="https://github.com/HenryOchieng/TopTrends" target="_blank" rel="noopener noreferrer" role="button">Source Code</a>
								  <a class="btn btn-primary" href="https://top-trends.herokuapp.com/" target="_blank" rel="noopener noreferrer" role="button" style="margin-left: 40px;">Live App</a>
								</figure>
							</div>
							
						  </div>
						</div>
					</div>
				</div>
			</div><!-- .container -->
		</section>
		<!-- Portfolio end -->
		<!-- CallToAction start -->
		<section class="calltoaction">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 col-lg-12">
						<h2 class="wow slideInRight" data-wow-delay=".1s">ARE YOU READY TO START?</h2>
						<div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
							I'm available for freelance contracts, so get in touch:
						</div>
					</div>
					<div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
						<a href="#contact" class="btn btn-lg">Hire Me</a>
					</div>
				</div><!-- .row -->
			</div><!-- .container -->
		</section>
		<!-- CallToAction end -->
		<!-- Contact start -->
		<section id="contact" class="pfblock pfblock-grey">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="pfblock-header">
						<h2 class="pfblock-title">Contact</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
							I'm currently accepting new projects and would love to hear about yours. Please take a few minutes to tell me about it. After you introduce yourself and your project, I'll get it touch with you to schedule a time to chat.
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					{% include 'base/contactForm.html' %}
				</div>
			</div>
		</section>
		<!-- Contact end -->
		<!-- Footer start -->
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<ul class="social-links">
							<li><a href="https://www.linkedin.com/in/henry-ndaga-3184881b1/" class="wow fadeInUp" data-wow-delay=".1s" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="https://github.com/HenryOchieng" class="wow fadeInUp" data-wow-delay=".2s" target="_blank"><i class="fa fa-github"></i></a></li>
							<li><a href="mailto:henryochieng8@gmail.com" class="wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-envelope"></i></a></li>
							<li><a href="https://api.whatsapp.com/send?phone=254790238118" class="wow fadeInUp" data-wow-delay=".5s" target="_blank"><i class="fa fa fa-whatsapp"></i></a></li>
						</ul>
						<p class="copyright"> Feel free to email me, or visit my GitHub and LinkedIn pages.</p>		
						<p class="heart">Made with <span class="fa fa-heart fa-2x animated pulse"></span> Henry Ndaga 2021 ©</p>
					</div>
				</div><!-- .row -->
			</div><!-- .container -->
		</footer>

		<!-- Footer end -->
		<!-- Javascript files -->
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="{% static 'base/js/script.js' %}"></script>
	</body>
</html>